/*variáveis globais*/
:root {
  --body: #0079bf;
  --header: #00000026;
  --coluna: #ebecf0;
  --post-it: #ffee8c;
  --tag-vermelho: #eb5a46;
  --tag-verde: #61bd4f;
  --tag-azul: #0079bf;
  --tag-amarelo: #f2d600;
}

* {
  box-sizing: border-box;
  margin: 0; /*remove a margem padrão do navegador para todos os elementos*/
  padding: 0; /*remove o padding padrão do navegador para todos os elementos*/
}

body {
  font-family: Aptos, Tahoma, Helvetia, Arial, sans-serif;
  background-color: var(--body);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: var(--header);
  padding: 15px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffffd9;
  display: flex;
  justify-content: center;
}

/*container principal*/
.layout-principal {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

/*container onde ficará o botão de criar fluxo de trabalho e interação com AI*/
.menu-vertical {
	background-color: var(--body);
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 300px;
}

/*quadro Kanban*/
.quadro {
  display: flex; /*permite que o quadro seja dividido*/
  flex-grow: 1; /*preenche o espaço que sobra no layout*/
  padding: 20px;
  gap: 20px; /*cria os espaços entre as colunas de fluxo de trabalho*/
  overflow-x: auto; /*permite scroll horizontal se houver muitas colunas*/
  align-items: flex-start; /*impede que as colunas estiquem até o final da tela*/
}

.fluxo-de-trabalho {
  background-color: var(--coluna);
  border-radius: 8px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

/*cabeçalho onde fica o contador e o título do fluxo de trabalho*/
.header {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

/*botão em ícone (lápis) para editar ou excluir um fluxo de trabalho*/
.editar-fluxo-de-trabalho {
  cursor: pointer;
  border: none;
  background: transparent;
  margin-right: auto;
}
.editar-fluxo-de-trabalho:hover {
	color: #5e6c84;
}

/*span para exibir a quantidade de tarefas no fluxo atual*/
.contador {
  background-color: #dfe1e6;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 0.8rem;
  color: #5e6c84;
  margin-left: auto;
}

/*container em que as tarefas ficarão*/
.caixa-de-tarefas {
  padding: 0 10px 10px 10px;
  overflow-y: auto; /*scroll vertical se a coluna estiver cheia*/
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/*post-it em si*/
.tarefa {
  background-color: var(--post-it);
  padding: 10px;
  box-shadow: 0 1px 2px #091e4240;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  position: relative;
}
.tarefa:hover {
  background-color: #ebda7a;
}
.tarefa span {
  line-height: 1.4;
  word-break: break-word; /*quebra a palavra se ela for maior que o post-it*/
}

/*botão de adicionar tarefa*/
.add-tarefa {
  padding: 10px;
  margin: 10px auto;
  width: 260px;
  border-radius: 8px;
  color: #5e6c84;
  cursor: pointer;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
}
.add-tarefa:hover {
  color: black;
}
/*botão em (x) de excluir tarefa*/
.excluir-tarefa {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--tag-vermelho);
  position: absolute;
  right: 5px;
  top: 5px;
}
.excluir-tarefa:hover {
	color: red;
}

/*botão de adicionar fluxo de trabalho*/
.add-fluxo-de-trabalho {
  padding: 10px;
  width: 260px;
  border-radius: 8px;
  color: #5e6c84;
  cursor: pointer;
  text-decoration: none;
  display: block;
  background-color: var(--coluna);
  transition: background-color 0.2s;
}
.add-fluxo-de-trabalho:hover {
  color: black;
}

/*interface de edição de fluxo de trabalho*/
#janela-editar-fluxo-de-trabalho {
	position: fixed;
	top: 50%; /*muda a posição do ponto (0,0) da janela em relação ao eixo vertical*/
	left: 50%; /*muda a posição do ponto (0,0) da janela em relação ao eixo hotizontal*/
	transform: translate(-50%, -50%); /*artifício para manter a janela no centro da tela*/
	border: none;
	border-radius: 8px;
	width: 400px;
	background-color: var(--coluna);
}
#janela-editar-fluxo-de-trabalho::backdrop {
	background-color: #00000070;
}

.janela-header {
	display: flex;
	justify-content: center;
	padding: 10px 15px;
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--tag-azul);
}
.janela-body {
	display: flex;
	padding: 10px;
	flex-direction: column;
}

.janela-footer {
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
}

/*botão para excluir fluxo de trabalho*/
.excluir-fluxo-de-trabalho {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  color: #ffffffd9;
  background-color: transparent;
  color: var(--tag-vermelho);
  transition: background-color 0.2s;
}
.excluir-fluxo-de-trabalho:hover {
	background-color: var(--tag-vermelho);
	color: white;
}

/*botão para salvar alterações no fluxo de trabalho*/
.salvar-fluxo-de-trabalho {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-right: 10px;
  background-color: transparent;
  color: var(--tag-verde);
  transition: background-color 0.2s;
}
.salvar-fluxo-de-trabalho:hover {
	background-color: var(--tag-verde);
	color: white;
}

/*botão em (x) de cancelar janela*/
.cancelar {
  cursor: pointer;
  border: none;
  color: #5e6c84;
  background: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
}
.cancelar:hover {
	color: black;
}