/*variáveis globais*/
:root {
  --body: #0079bf;
  --header: #00000026;
  --coluna: #ebecf0;
  --post-it: #ffee8c;
  --vermelho: #eb5a46;
  --verde: #61bd4f;
}

* {
  box-sizing: border-box;
  margin: 0px; /*remove a margem padrão do navegador para todos os elementos*/
  padding: 0px; /*remove o padding padrão do navegador para todos os elementos*/
}

body {
  font-family: "Roboto", "Inter", "Verdana", sans-serif;
  line-height: 1.4;
  background-color: var(--body);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  background-color: var(--header);
  padding: 15px 20px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffffd9;
  display: flex;
  justify-content: center;
}

/*container principal*/
.layout-principal {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}

/*container onde ficará o botão de criar fluxo de trabalho e interação com AI*/
.menu-vertical {
	background-color: var(--body);
	display: flex;
	flex-direction: column;
	padding: 20px;
	width: 300px;
}

/*quadro Kanban*/
.quadro {
  display: flex;
  flex-grow: 1;
  padding: 20px;
  gap: 20px;
  overflow-x: auto;
  align-items: flex-start;
}

.fluxo-de-trabalho {
  background-color: var(--coluna);
  border-radius: 8px;
  min-width: 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
}

/*cabeçalho onde fica o contador e o título do fluxo de trabalho*/
.header {
  padding: 10px 15px;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

/*botão em ícone para editar ou excluir um fluxo de trabalho*/
.editar-fluxo-de-trabalho {
  cursor: pointer;
  border: none;
  background: transparent;
  margin-right: auto;
  color: #5e6c84;
}
.editar-fluxo-de-trabalho:hover {
	color: black;
}

/*span para exibir a quantidade de tarefas no fluxo atual*/
.contador {
  background-color: #dfe1e6;
  padding: 5px 10px;
  border-radius: 16px;
  font-size: 0.8rem;
  color: #5e6c84;
  margin-left: auto;
}

/*container em que as tarefas ficarão*/
.caixa-de-tarefas {
  padding: 0px 10px 10px 10px;
  overflow-y: auto;
  display: flex;
  min-height: 40px;
  flex-direction: column;
  gap: 10px;
}

/*post-it em si*/
.tarefa {
  background-color: var(--post-it);
  padding: 10px 25px 10px 10px;
  box-shadow: 0 1px 2px #091e4240;
  cursor: pointer;
  transition: background-color 0.2s, box-shadow 0.2s;
  position: relative;
}
.tarefa:hover {
  background-color: #ebda7a;
}
.tarefa span {
  white-space: normal;
  display: inline-block;
  word-break: break-word;
}

/*botão de adicionar tarefa*/
.add-tarefa {
  padding: 10px;
  margin: 10px auto;
  width: 260px;
  border-radius: 8px;
  color: #5e6c84;
  cursor: pointer;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
}
.add-tarefa:hover {
  color: black;
}
/*botão em (x) de excluir tarefa*/
.excluir-tarefa {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--vermelho);
  position: absolute;
  right: 5px;
  top: 5px;
}
.excluir-tarefa:hover {
	color: red;
}

/*botão de adicionar fluxo de trabalho*/
.add-fluxo-de-trabalho {
  padding: 10px;
  width: 260px;
  border-radius: 8px;
  color: #5e6c84;
  cursor: pointer;
  text-decoration: none;
  display: block;
  background-color: var(--coluna);
  transition: background-color 0.2s;
}
.add-fluxo-de-trabalho:hover {
  color: black;
}

/*janela modal de edição de fluxo de trabalho e tarefas*/
#janela-editar-fluxo-de-trabalho, #janela-add-fluxo-de-trabalho, #janela-add-tarefa {
	position: fixed;
	top: 50%; /*muda a posição do ponto (0,0) da janela em relação ao eixo vertical*/
	left: 50%; /*muda a posição do ponto (0,0) da janela em relação ao eixo hotizontal*/
	transform: translate(-50%, -50%); /*artifício para manter a janela no centro da tela*/
	border: none;
	border-radius: 8px;
	width: 480px;
	background-color: var(--coluna);
}
#janela-editar-fluxo-de-trabalho::backdrop, #janela-add-fluxo-de-trabalho::backdrop, #janela-add-tarefa::backdrop {
	background-color: #00000070;
}

.janela-header {
	display: flex;
	justify-content: center;
	padding: 10px 15px;
	font-size: 1.5rem;
	font-weight: bold;
}
.janela-body {
	display: flex;
	padding: 10px;
	flex-direction: column;
}
.input {
	height: 24px;
}
.janela-footer {
	display: flex;
	justify-content: flex-end;
	padding: 10px 15px;
	gap: 10px;
}

/*botão para excluir fluxo de trabalho*/
.excluir-fluxo-de-trabalho {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-right: auto;
  color: #ffffffd9;
  background-color: transparent;
  color: black;
  transition: background-color 0.2s;
}
.excluir-fluxo-de-trabalho:hover {
	background-color: var(--vermelho);
	color: white;
}

/*botão para salvar alterações no fluxo de trabalho e tarefas*/
.salvar-fluxo-de-trabalho {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  margin-left: 10px;
  background-color: transparent;
  color: black;
  transition: background-color 0.2s;
}
.salvar-nova-tarefa, .salvar-novo-fluxo-de-trabalho {
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: black;
  transition: background-color 0.2s;
}
.salvar-fluxo-de-trabalho:hover, .salvar-nova-tarefa:hover, .salvar-novo-fluxo-de-trabalho:hover {
	background-color: var(--verde);
	color: white;
}

/*botão em (x) de fechar a janela*/
.cancelar {
  cursor: pointer;
  border: none;
  color: #5e6c84;
  background: transparent;
  position: absolute;
  right: 5px;
  top: 5px;
}
.cancelar:hover {
	color: black;
}
